body {
  font-family: Arial;
  background-color: #f4f4f4;
  margin: 40px;
}

nav a {
  margin-right: 15px;
  text-decoration: none;
  padding: 8px;
  background: #333;
  color: Red;
}

nav a:hover {
  background: #555;
}

